n8n-workflows/4-transfert-messages-entrants.json
{
  "name": "4 - Réponse automatique clients WhatsApp (IA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-inbox",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000001",
      "name": "Vérification Meta (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 160],
      "webhookId": "whatsapp-inbox-get"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000002",
      "name": "Répondre challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbox",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000003",
      "name": "Messages entrants (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "whatsapp-inbox-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst message = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nconst value   = body?.entry?.[0]?.changes?.[0]?.value;\n\nif (!message) return [];\n\nconst from = message.from;\nconst name = value?.contacts?.[0]?.profile?.name || ('+' + from);\n\nconst typeMap = {\n  text:     () => message.text?.body || '',\n  image:    () => '[Le client a envoyé une image]',\n  audio:    () => '[Le client a envoyé un message vocal]',\n  video:    () => '[Le client a envoyé une vidéo]',\n  document: () => '[Le client a envoyé un document]',\n  sticker:  () => '[Le client a envoyé un sticker]',\n};\nconst texte = (typeMap[message.type] || (() => `[${message.type}]`))();\n\nreturn [{ json: { from, name, texte } }];"
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000004",
      "name": "Extraire message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es l'assistant WhatsApp de TOGOLESE, une entreprise de vente et distribution de produits importés basée à Lomé au Togo (Kégué, derrière l'hôtel O'Balkan). Ton rôle est de répondre aux clients de façon professionnelle, chaleureuse et concise.\\n\\nInformations importantes à connaître :\\n- Livraison EXPRESS (avion) : 4 à 14 jours\\n- Livraison ECO (bateau) : 30 à 45 jours\\n- Acompte de 70% exigé à la commande, solde de 30% à la livraison\\n- Délai de réclamation : 1 mois après livraison\\n- Téléphone : +228 90 22 64 91\\n- Email : Contact@togolesegroup.com\\n\\nRègles :\\n- Réponds toujours en français\\n- Sois bref (max 5 lignes)\\n- Termine toujours par : — *TOGOLESE*\\n- Si tu ne sais pas répondre, demande poliment au client de rappeler le +228 90 22 64 91\\n- Ne promets jamais de dates exactes de livraison\\n- N'invente pas d'informations sur des commandes spécifiques\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Le client {{ $json.name }} (+{{ $json.from }}) a envoyé : {{ $json.texte }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000005",
      "name": "Agent IA OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 440]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst reponse = data.choices?.[0]?.message?.content?.trim() || 'Bonjour ! Notre équipe vous répond très rapidement. Pour toute urgence : *+228 90 22 64 91* — *TOGOLESE*';\nconst from = $('Extraire message').first().json.from;\nreturn [{ json: { from, reponse } }];"
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000006",
      "name": "Extraire réponse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1108545832334279/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANQHulGRzIBRIOPZCI10qVwD4fa1wRxbWvbWxc9V2qg3hGqXbB5ZCIFZB73Pq4r5ZAktZAyIIkyZA1Tj5S8T0plbV2hZAlDVTpWfWggH4b0ELt5nbdrSNaIs1jZAWrGcHSuZBcx8BXMTvYc5AZBSwL7edmiAwZAzmAAypd5bufAeUEZCGgAi8ARZAZBIzgG5y3A023gZDZD"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.reponse }}\" }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000007",
      "name": "Répondre au client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0004-0001-0001-000000000008",
      "name": "Répondre OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 440]
    }
  ],
  "connections": {
    "Vérification Meta (GET)": {
      "main": [
        [{ "node": "Répondre challenge", "type": "main", "index": 0 }]
      ]
    },
    "Messages entrants (POST)": {
      "main": [
        [{ "node": "Extraire message", "type": "main", "index": 0 }]
      ]
    },
    "Extraire message": {
      "main": [
        [{ "node": "Agent IA OpenAI", "type": "main", "index": 0 }]
      ]
    },
    "Agent IA OpenAI": {
      "main": [
        [{ "node": "Extraire réponse IA", "type": "main", "index": 0 }]
      ]
    },
    "Extraire réponse IA": {
      "main": [
        [{ "node": "Répondre au client", "type": "main", "index": 0 }]
      ]
    },
    "Répondre au client": {
      "main": [
        [{ "node": "Répondre OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "WhatsApp" }, { "name": "IA" }]
}
